@model ShopGiayHHL.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Public/css/LayoutSite.css" rel="stylesheet" />
    <link href="~/Public/css/all.min.css" rel="stylesheet" />
    <style>
        .khung
        {
            max-width:700px;
            border-radius:10px;
            margin:auto;
            border: 1px solid #ccc;
        }
    </style>
</head>
<body>
    <section class="header">
        <div class="container">
            <div class="row py-2">
                <div class="col-md-3  ">
                    <a href="~/"><img src="~/Public/img/LOGO.png" class="img-fluid" alt="logo" /></a>
                </div>
                <div class="col-md-5 text-right mt-md-5">
                    <div class="input-group mb-5">
                        <input type="text" class="form-control" placeholder="Tìm Kiếm" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-right mt-md-5">
                    <a class="khoi" href="~/lien-he"><i class="fas fa-phone"></i></a>
                    <a class="khoi" href="~/dang-nhap"><i class="fas fa-user"></i></a>
                    <a class="khoi" href="~/gio-hang"><i class="fas fa-shopping-bag"></i></a>

                </div>
            </div>
        </div>
    </section>
    <section class="mainmenu bg-white">
        <div class="container">
            <div class="row py-2">
                <div class="menuxl col-md-9 ">
                    <nav class="navbar navbar-expand-lg navbar-light navbar-toggler">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="@Url.Action("Index","Site")">Trang Chủ <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Index","GioiThieu")">Giới Thiệu</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="@Url.Action("Index","SanPham")" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Sản Phẩm
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">Converse</a>
                                        <a class="dropdown-item" href="#">Vans</a>
                                        <a class="dropdown-item" href="#">Palladium</a>
                                        <a class="dropdown-item" href="#">Supra</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("PostTopic","Site")">Tin Tức</a>

                                </li>
                            </ul>

                        </div>
                    </nav>
                </div>
                <div class="ten col-md-3">

                </div>
            </div>
        </div>
    </section>
    <div class="maincontent">
        <div class="khung mt-md-5 p-2">
            <h3 class="text-center">ĐĂNG KÍ TÀI KHOẢN MỚI</h3>
            <hr />
            <div class="row">
                <div class="col-md-5">
                    <a href="#"><img src="~/Public/img/dang_ki.jpg" class="img-fluid" alt="logo" /></a>
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12">
                            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()


                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                                    <div class="col-md-10">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                                    <div class="col-md-10">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" class="btn btn-dark" value="Đăng kí" />
                                        <a href="@Url.Action("Login","Account")" class="btn btn-secondary">Quay lại</a>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>

                </div>
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }

        </div>
    </div>
                        <section class="service bg-white py-3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row">
                                            <div class="col-4">
                                                <img src="~/Public/img/srv_1.png" class="img-fluid" />
                                            </div>
                                            <div class="col-8 pl-0">
                                                <h6> Miễn Phí Vận Chuyển</h6>
                                                <p> Nhanh hơn tốc độ lật mật của NYC </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row">
                                            <div class="col-4">
                                                <img src="~/Public/img/srv_2.png" class="img-fluid" />
                                            </div>
                                            <div class="col-8 pl-0">
                                                <h6>Chính sách bảo hành</h6>
                                                <p> Bảo hành đến 365 ngày </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row">
                                            <div class="col-4">
                                                <img src="~/Public/img/srv_3.png" class="img-fluid" />
                                            </div>
                                            <div class="col-8 pl-0">
                                                <h6> Tiết kiệm thời gian </h6>
                                                <p> Mua hàng dễ dàng MIỄN LÀ bạn có tiền </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row">
                                            <div class="col-4">
                                                <img src="~/Public/img/srv_4.png" class="img-fluid" />
                                            </div>
                                            <div class="col-8 pl-0">
                                                <h6> Tư vấn trực tiếp</h6>
                                                <p> Nhiệt tình - nhẹ nhàng - tình cảm </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="footer py-4">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h3>GIỚI THIỆU</h3>
                                        <ul>
                                            <li><a href="#">Về Cửa Hàng</a></li>
                                            <li><a href="#">Tuyển Dụng</a></li>
                                            <li><a href="#">Hệ Thống Cửa Hàng</a></li>
                                            <li><a href="#">Chính Sách Bảo Mật</a></li>
                                            <li><a href="#">Blog</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <h3>THÔNG TIN</h3>
                                        <ul>
                                            <li><a href="#">Chính Sách Khách Hàng Thân Thiết</a></li>
                                            <li><a href="#">Chính Sách Đổi Trả</a></li>
                                            <li><a href="#">Chính Sách Bảo Hành</a></li>
                                            <li><a href="#">Câu Hỏi Thường Gặp</a></li>
                                            <li><a href="#">Chăm Sóc Khách Hàng</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <h3>KẾT NỐI VỚI HHLSHOES</h3>
                                        <div class="row">
                                            <div class="lh"><i class="fab fa-facebook"></i></div>
                                            <div class="lh"><i class="fab fa-youtube"></i></div>
                                            <div class="lh"><i class="fab fa-instagram"></i></div>
                                            <div class="lh"><i class="fab fa-twitter"></i></div>
                                        </div>


                                    </div>
                                    <div class="col-md-3">
                                        <h3>CỬA HÀNG</h3>
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    Store 1: 67/18 Đường Số 16, Phường BHH, Quận Bình Tân - ĐT: 0777.979.810
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Store 2: 70-72 Hồ Tùng Mậu, phường Bến Nghé, Quận 1, TP.HCM - ĐT: 0906.888.742

                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="copyright bg-dark py-3 text-center text-white-50">
                            ©HHLShoes - All Rights Reserved. Thiết kế web bởi HHL.VN
                        </section>

                        <script src="~/Scripts/jquery-3.5.1.min.js"></script>
                        <script src="~/Scripts/popper.min.js"></script>
                        <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>
