@model ShopGiayHHL.Models.Categorys
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Created_At)
    @Html.HiddenFor(model => model.Created_By)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 text-danger text-uppercase">
                    <strong>
                        CẬP NHẬT LOẠI SẢN PHẨM
                    </strong>
                </div>
                <div class="col-md-6 text-right">
                    <button type="submit" class="btn btn-success btn-sm">
                        <i class="fas fa-save"></i> Lưu[Cập nhật]
                    </button>
                    <a href="@Url.Action("Index","Category")" class="btn btn-info btn-sm"><i class="fas fa-backward"></i> Quay về danh sách</a>

                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label>Tên loại sản phẩm</label>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Từ khóa SEO</label>
                        @Html.TextAreaFor(model => model.MetaKey, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MetaKey, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Mô tả SEO</label>
                        @Html.TextAreaFor(model => model.MetaDesc, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MetaDesc, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Chủ đề cha</label>
                        @Html.DropDownListFor(model => model.ParentId, (SelectList)ViewBag.ListCat, "[Chọn loại]", new { @class = "form-control" })

                        @Html.ValidationMessageFor(model => model.ParentId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Sắp xếp</label>
                        @Html.DropDownListFor(model => model.Orders, (SelectList)ViewBag.ListOrder, "[Vị trí]", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Orders, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Trạng thái</label>
                        @Html.DropDownListFor(model => model.Status, new[] { new SelectListItem { Text = "Xuất bản", Value = "1" }, new SelectListItem { Text = " Chưa Xuất bản", Value = "0" } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}

