@model IEnumerable<ShopGiayHHL.Models.Categorys>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <strong class="text-danger text-uppercase">
                    TẤT CẢ LOẠI SẢN PHẨM
                </strong>
            </div>
            <div class="col-md-6 text-right">
                <a href="@Url.Action("Create","Category")" class="btn btn-success btn-sm"><i class="fas fa-plus"></i> Thêm</a>
                <a href="@Url.Action("Trash","Category")" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> Thùng rác</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        @Html.Partial("_XMessage")
        <table id="myTable" class="table table-bordered table-hover table-striped">
            <thead>
                <tr>

                    <th>
                        Tên loại sản phẩm
                    </th>
                    <th>
                        Đường dẫn
                    </th>
                    <th style="width:200px;">Ngày tạo</th>
                    <th style="width:200px;" class="text-center">Chức năng</th>
                    <th style="width:20px;" class="text-center">ID</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                <tr>


                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Slug)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created_At)
                    </td>
                    <td class="text-center">
                        @if (item.Status == 1)
                        {
                            <a class="btn btn-success btn-sm" href="@Url.Action("Status","Category", new { id = item.Id })"><i class="fas fa-toggle-on"></i></a>
                        }
                        else
                        {
                            <a class="btn btn-danger btn-sm" href="@Url.Action("Status","Category", new { id = item.Id })"><i class="fas fa-toggle-off"></i></a>
                        }

                        <a class="btn btn-info btn-sm" href="@Url.Action("Edit","Category", new { id = item.Id })"><i class="fas fa-edit"></i></a>
                        <a class="btn btn-warning btn-sm" href="@Url.Action("Details","Category", new { id = item.Id })"><i class="fas fa-eye"></i></a>
                        <a class="btn btn-danger btn-sm" href="@Url.Action("DelTrash","Category", new { id = item.Id })"><i class="fas fa-trash"></i></a>

                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                </tr>
                }
            </tbody>

        </table>
    </div>
</div>
@section header{

    <link href="~/Public/css/jquery.dataTables.min.css" rel="stylesheet" />
}
@section footer{
    <script src="~/Public/js/jquery.dataTables.min.js"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery('#myTable').DataTable();
        });
    </script>

}