@model ShopGiayHHL.Models.Products
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6 text-dark text-uppercase">
                <strong>
                    CHI TIẾT SẢN PHẨM
                </strong>
            </div>
            <div class="col-md-6 text-right">             
                <a href="@Url.Action("Index","SanPham")" class="btn btn-dark btn-sm"><i class="fas fa-backward"></i> Quay về danh sách</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row my-4">
            <div class="col-md-6">
                <img src="~/Public/img/Product/@Model.Img" class="img-fluid" alt="" />
            </div>
            <div class="col-md-6">

                <dl class="dl-horizontal">


                    <dt>
                        <label><strong>Tên sản phẩm</strong></label>
                    </dt>

                    <dd>
                        <h3>@Html.DisplayFor(model => model.Name)</h3>
                    </dd>
                    <dt>
                        <label><strong>Số thứ tự sản phẩm</strong></label>

                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Id)
                    </dd>
                    <dt>
                        <label><strong>Chi tiết sản phẩm</strong></label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Detail)
                    </dd>

                    <dt>
                        <label><strong>Giá sản phẩm</strong></label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PriceBuy) VNĐ
                    </dd>

                    <dt>
                        <label><strong>Dòng sản phẩm</strong></label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MetaKey)
                    </dd>

                    <dt>
                        <label><strong>Tính năng sản phẩm</strong></label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MetaDesc)
                    </dd>

                </dl>
                <a href="~/gio-hang" class="btn btn-secondary">Đặt Mua</a>
            </div>
        </div>
        Bình Luận
        <div class="row my-3 col-md-12">
            <div class="fb-comments" data-href="https://localhost:44305/SanPham/Details/@Model.Id" data-width="100%" data-numposts="5"></div>
        </div>
        <h3>Sản phẩm cùng loại</h3>
        <div class="row my-4">
            @Html.Action("ListCategory", "Module")
        </div>
    </div>
